<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/jquery.dialog.css" />
<link rel="stylesheet" href="/static/admin/css/index.css" />
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>

<title>清新cms后台管理系统</title>
<script>
function switchSysBar(){ 
var locate=location.href.replace('{:URL('Index/index')}','');
var ssrc=document.all("img1").src.replace(locate,'');
if (ssrc=="/static/Admin/images/toleft.png")
{ 
document.all("img1").src="/static/Admin/images/toright.png";
document.all("frmTitle").style.display="none" 
} 
else
{ 
document.all("img1").src="/static/Admin/images/toleft.png";
document.all("frmTitle").style.display="" 
} 
} 
</script>


</head>

<body>
<div id="container">
	<div id="hd">
    	<div class="hd-wrap ue-clear">
        	<div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear"><span>欢迎您,</span>{$admin.username}</div>
              
            </div>
            <div class="toolbar ue-clear">
                <a href="javascript:;" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
    	<div class="wrap ue-clear">
        	<div class="sidebar"  id="frmTitle" name="fmTitle" >
            	<h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                	<li class="office current"><div class="nav-header"><a href="javascript:;" date-src="home.html" class="ue-clear"><span>日常办公</span><i class="icon"></i></a></div></li>
                    <li class="gongwen">
                    <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>文章管理</span><i class="icon"></i></a></div>
                    	<ul class="subnav">
                        	<li><a href="javascript:;" date-src="info-reg.html">文章操作</a></li>
                            <li><a href="javascript:;" date-src="{:url('cate/index')}">栏目管理</a></li>
                           
                        </ul>
                    </li>
                    <li class="nav-info">
                    	<div class="nav-header"><a href="javascript:;" class="ue-clear"><span>导航信息管理</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                        	<li><a href="javascript:;" date-src="info-reg.html">信息录入</a></li>
                            <li><a href="javascript:;" date-src="info-mgt.html">信息管理</a></li>
                            <li><a href="javascript:;" date-src="info-det.html">领导值岗管理</a></li>
                            <li><a href="javascript:;">中层领导管理</a></li>
                            <li><a href="javascript:;">领导值班记录</a></li>
                        </ul>
                    </li>
                    <li class="konwledge"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>知识管理</span><i class="icon"></i></a></div></li>
                    <li class="agency"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>组织结构</span><i class="icon"></i></a></div></li>
                    <li class="email"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>邮件管理</span><i class="icon"></i></a></div></li>
                    <li class="system"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>系统管理</span><i class="icon"></i></a></div></li>
                </ul>
            </div>
            <div class="content">
            	<div class="toleft" onclick=switchSysBar()><SPAN class=navPoint 
id=switchPoint title=关闭/打开左栏><img src="/static/Admin/images/toleft.png" width="6" height="46"  name="img1" id="img1"/></SPAN></div>
            	<iframe src="{:URL('Index/main')}" id="iframe" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <div id="ft" class="ue-clear">
    	<div class="ft-left">
            <span>清新教育</span>
            <em>qingxinedu&nbsp;System</em>
        </div>
        <div class="ft-right">
            <span>qingxinedu</span>
            <em>V2.0&nbsp;2016</em>
        </div>
    </div>
</div>

<div class="exitDialog">
	<div class="dialog-content">
    	<div class="ui-dialog-icon"></div>
        <div class="ui-dialog-text">
        	<p class="dialog-content">你确定要退出系统？</p>
            <p class="tips">如果是请点击“确定”，否则点“取消”</p>
            
            <div class="buttons">
                <input type="button" class="button long2 ok" value="确定" />
                <input type="button" class="button long2 normal" value="取消" />
            </div>
        </div>
        
    </div>
</div>

</body>

<script type="text/javascript" src="/static/admin/js/common.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.dialog.js"></script>
<script type="text/javascript" src="/static/admin/js/index.js"></script>
<script type="text/javascript">
$('.exitDialog').Dialog({
	title:'提示信息',
	autoOpen: false,
	width:400,
	height:200
	
});
$('.exit').click(function(){
	$('.exitDialog').Dialog('open');
});
$('.exitDialog input[type=button]').click(function(e) {
    $('.exitDialog').Dialog('close');
	
	if($(this).hasClass('ok')){
		
		$.get("{:URL('Login/logout')}",{},function(data){
			if(data.status==1) {
		    	location.href=data.url;
		    } 
		});
	}
});
</script>
</html>
